<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Add Comment for <%= campground.name %></h1>
        <div style="margin: 25px auto;width: 30%">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <label for="commenttext">Comment</label>
                <div class="form-group">
                    <textarea class="form-control" id="commenttext" name="comment[text]"></textarea>
                </div>
                <label for="commentauthor">Author</label>
                <div class="form-group">
                    <input value="<%= currentUser.username %>" class="form-control" id="commentauthor" type="text" name="comment[author]">
                </div>
                <div class="form-group">
                    <button class="btn btn-block btn-primary btn-lg">Add</button>
                </div>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Go back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
