<% include partials/header %>

<h1>LOGIN</h1>
<form action="/login" method="POST">
    <input name="username" placeholder="user name" type="text">
    <input name="password" placeholder="password" type="password">
    <button>Log In!</button>
</form>

<% include partials/footer %>
