<% include partials/header %>
<h1>register</h1>
<form action="/register" method="POST">
    <input name="username" placeholder="user name" type="text">
    <input name="password" placeholder="password" type="password">
    <button>Sign Up!</button>
</form>

<% include partials/footer %>
